<!DOCTYPE html>
<html>
<head>
	<title>InternetThoughts</title>
	<script src="https://ucarecdn.com/8200df15-bf81-4247-9c08-18cd3634aa48/Engine.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src = "https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="
https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.0/css/hover-min.css">
	
	<style type="text/css">
		h1{
			font-family: 'Ubuntu', sans-serif;
			margin: auto 5%;
			padding: 2% auto;
		    color:  white;
		}
		#container {
  			width: 100%;
  			height: 100px;
  			margin: 2%;
  			
  			border-radius:5px;
  			
		}	
		#container1 {
  			
  			width: 100%;
  			height: 100px;
  			margin: 2%;
  			padding: auto;
		}
		#butt{
			text-align: center;
			display: block;
			padding-top: 20px;
			font-family: 'Ubuntu', sans-serif;
			color: #262d3a;

		}
		
	
		.labels{
			font-family: 'Ubuntu', sans-serif;
			text-align: center;
			margin:2%;
			padding: auto;
			font-size: 30px;
			color: #262d3a;
		}
		.jumbotron{
			background-color: #262d3a;
		}
		strong{
			font-style: italic;
			font-size: 120%;
		}
		body{
			background-color:#eadedf;
		}
		
		


	</style>
</head>

<div class="jumbotron">
  <h1 style="color: white">The internet's thoughts about <strong><%=search%></strong> </h1>
  
</div>



<div id="tweetContainer" style="color:transparent;">
<% for(var i = 0;i<resultsData.statuses.length;i++){ %>
        <%= resultsData.statuses[i].text %>
<% }%>
</div>




<div class="container" id="pBar">
   <div class="row">
	<div class="col-lg-1 container labels"><span id="pNum">#</span>Positive</div>
	<div id="container" class="container col-lg-11"></div>
   </div>
</div>



<div class ="container" id="nBar" >
	<div class="row">
		
		<div class="col-lg-1 container labels"><span id="nNum">#</span>Negative</div>
		<div id="container1", class="container col-lg-11 labels",></div>
	</div>
	
</div>





<div class="container" id="butt">
	<p><a  href="/" class="btn btn-primary btn-lg button hvr-grow"  role="button" style="background-color: #262d3a">Search again</a></p>
</div>


</body>
<script type="text/javascript">
    var data;
    var score;
	$("#tweetContainer").hide();
	data =  $("#tweetContainer").html().trim().replace(/RT/g,"").replace(/\s+/g, ' ').replace(/[^a-zA-Z-]/g, ' ').replace(/-/g, " ");
	data = data.toLowerCase();
	console.log(data);

	var engine = new Engine();
	engine.loadMap();

	Pscore = Math.round(engine.analyze(data)[0]*100);
	console.log(Pscore);
	Nscore = Math.round(engine.analyze(data)[1]*100);
	console.log(Nscore);

	$("#pNum").text(Pscore + "% ");
	$("#nNum").text(Nscore + "% ");
	var width1 = (Pscore/100)*100;
	$("#container").css("width", width1 + "%");
	 var width2 = (Nscore/100)*100;
	$("#container1").css("width", width2 + "%");

	var bar = new ProgressBar.Line(container, {
  strokeWidth: 4,
  easing: 'easeInOut',
  duration: 3000,
  color: '#FFEA82',
  trailColor: '#eee',
  trailWidth: 1,
  svgStyle: {width: '100%', height: '100%'},
  from: {color: '#FFEA82'},
  to: {color: '#c6434a'},
  step: (state, bar) => {
    bar.path.setAttribute('stroke', state.color);
  }
});

var bar1 = new ProgressBar.Line(container1, {
  strokeWidth: 4,
  easing: 'easeInOut',
  duration: 3000,
  color: '#236add',
  trailColor: '#eee',
  trailWidth: 1,
  svgStyle: {width: '100%', height: '100%'},
  from: {color: '#236add'},
  to: {color: '#0f4296'},
  step: (state, bar1) => {
    bar1.path.setAttribute('stroke', state.color);
  }
});


bar.animate(1.0);
bar1.animate(1.0);

</script>
</html>