<!DOCTYPE html>
<html>
<head>
	<title>InternetThoughts</title>
	<style type="text/css">
		body{
			background: blue;
		}
	</style>
</head>
<body>

<img src="https://raw.githubusercontent.com/tash-had/YHack_2016/master/views/photos/logoInnerShadow.png">

</body>
</html>

<h1>The internet's thoughts on...</h1>



<form action ="/results" method = "GET" >
    <input type = "text", placeholder = "search term" name = "input"></input>
    <button>Search</button>
</form>
