<h1>The internet's thoughts on...</h1>

<form action ="/results" method = "GET" >
    <input type = "text", placeholder = "search term" name = "input"></input>
    <button>Search</button>
</form>
